<div class="main-div"></div>
    <header>
        <!-- logo image left | social nav right -->    
        <div class="top-banner">
            <div class="logo-div">
                <img id="logo" src="/media/images/LLPlogov3final.svg" alt="love local parks logo">
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/lovelocalparks" referrerpolicy="noopener noreferrer" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.instagram.com/lovelocalparks/" referrerpolicy="noopener noreferrer" target="_blank" class="fab fa-instagram"></a>
                <a href="https://twitter.com/lovelocalparks" referrerpolicy="noopener noreferrer" target="_blank" class="fab fa-twitter"></a>
            </div>
        </div>
    
        <!-- site nav links below - 100% width -->
    
    
    <!-- include nav partial here -->
    <%- include('../partials/nav') -%>
    
    </header>