<nav class="nav-bar">
    <i id="mobile-nav" class="fas fa-bars"></i>
    <a class="nav-word" href="#" rel="noopener noreferrer" target="_blank">Home</a>
    <a class="nav-word" href="./volunteer.html" rel="noopener noreferrer" target="_blank">Volunteer</a>
    <a class="nav-word" href="./help.html" rel="noopener noreferrer" target="_blank">Get Help</a>
    <a class="nav-word" href="./search.html" rel="noopener noreferrer" target="_blank">Search</a>
    <a class="nav-word" href="./success.html" rel="noopener noreferrer" target="_blank">Success</a>
    <a class="nav-word" href="./about.html" rel="noopener noreferrer" target="_blank">About</a>
    <a class="nav-word" href="./admin.html" rel="noopener noreferrer" target="_blank">Admin Login</a>
</nav>