<nav class="nav-bar show-nav-links">
    <i id="mobile-nav" class="fas fa-bars"></i>
    <a class="nav-word hide-links" href="/" rel="noopener noreferrer">Home</a>
    <a class="nav-word hide-links" href="/volunteer" rel="noopener noreferrer">Volunteer</a>
    <a class="nav-word hide-links" href="/park" rel="noopener noreferrer">Get Help</a>
    <a class="nav-word hide-links" href="/search" rel="noopener noreferrer">Search</a>
    <a class="nav-word hide-links" href="/success" rel="noopener noreferrer">Success</a>
    <a class="nav-word hide-links" href="/success" rel="noopener noreferrer">Success</a>
    <a class="nav-word hide-links" href="/about" rel="noopener noreferrer">About</a>
    <a class="nav-word hide-links" href="/login" rel="noopener noreferrer">Admin Login</a>
</nav>