<nav class="nav-bar">
    <i id="mobile-nav" class="fas fa-bars"></i>
    <a class="nav-word" href="#" rel="noopener noreferrer" target="_blank">Home</a>
    <a class="nav-word" href="/volunteer" rel="noopener noreferrer" target="_blank">Volunteer</a>
    <a class="nav-word" href="/park" rel="noopener noreferrer" target="_blank">Get Help</a>
    <a class="nav-word" href="/search" rel="noopener noreferrer" target="_blank">Search</a>
    <a class="nav-word" href="/success" rel="noopener noreferrer" target="_blank">Success</a>
    <a class="nav-word" href="/about" rel="noopener noreferrer" target="_blank">About</a>
    <a class="nav-word" href="/login" rel="noopener noreferrer" target="_blank">Admin Login</a>
</nav>