/*  font-family: 'Bebas Neue', cursive;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Poiret One', cursive; */

:root {
    --snow: #FFFCFF;
    --deepred: #702632;
    --mutedred: #912F40;
    --celadon: #247BA0;
    --greengray: #CBD4C2;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0;
    background-color: var(--mutedred);
}

/* header banner styling */
.top-banner {
    background-color: var(--mutedred);
    color: var(--snow);
    height: 10vh;
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: -10px -10px 0 -10px; */
}

/* items within header banner */
.top-banner > img {
    color: var(--snow);
    width: 30vw;
    height: auto;
    min-width: 150px;
    margin-top: 5px;
}

/* social media div styling */
.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-right: 5vw;
}

/* social media icon styling */
.fab {
    color: var(--snow);
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
}

/* bottom of header nav bar styling */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--mutedred);
    width: 100%;
    /* margin-right: -10px;
    margin-left: -10px; */
}

.nav-bar>a {
    display: none;
}

.fas, .fa-bars{
    color: var(--snow);
    font-size: 25px;
    margin: 5px auto;
    /*for now, center bars within nav div; if want to change to right align with social links in the future, change/add:
    margin: 5px 0;
    margin-right: 10vw;*/
}

.main-body {
    display: flex;
    flex-direction: column;
}

.flag {
    height: 100px;
    width: auto;
    margin: 0 -8px;
    font-size: 0.75rem;
}

.flag:nth-child(odd) {
    background-color: var(--deepred);
}

a {
    /* font-family: 'Bebas Neue', cursive; LIKE */
    font-family: 'Cabin Sketch', cursive; LIKE
    /* font-family: 'Josefin Slab', serif; LIKE */    
}
a:link {
    text-decoration: none;
    color: var(--snow);
}

a:hover {
    
}

a:active {
    
}

a:visited {
    
}



@media screen and (min-width: 1024px) {
    .social-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* social media link styling for all states */
    .social-links>a:link {
        color: var(--snow);
        text-decoration: none;
        font-weight: 700;
    }
    
    .social-links>a:visited {
        color: var(--greengray);
        text-decoration: none;
        font-weight: 700;
    }
    
    .social-links>a:hover {
        background-color: var(--greengray);
        color: var(--celadon);
        text-decoration: none;
        font-weight: 700;
    }
    
    .social-links>a:active {
        background-color: var(--deepred);
        color: var(--greengray);
        text-decoration: none;
        font-weight: 700;
    }
}