/*  font-family: 'Bebas Neue', cursive;
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Poiret One', cursive; */

:root {
    --snow: #FFFCFF;
    --deepred: #702632;
    --mutedred: #912F40;
    --celadon: #247BA0;
    --greengray: #CBD4C2;
    --black: #000000;
    --littletwig: little twig, Arial, Helvetica, sans-serif;
    --sapodilla: sapodilla, Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0;
    background-color: var(--mutedred);
}

/* header banner styling */
.top-banner {
    background-color: var(--mutedred);
    color: var(--snow);
    height: 20vh;
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: -10px -10px 0 -10px; */
}

/* items within header banner */
.top-banner > img {
    color: var(--snow);
    width: auto;
    height: 20vh;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* social media div styling */
.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-right: 5vw;
}

/* social media icon styling */
.fab {
    color: var(--snow);
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
}

/* bottom of header nav bar styling */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--mutedred);
    width: 100%;
    /* margin-right: -10px;
    margin-left: -10px; */
}

/* Hiding the nav bar links when display is under 768px */
.nav-bar>a {
    display: none;
}

/* Nav bar icon when display is under 768px */
.fas, .fa-bars{
    color: var(--snow);
    font-size: 25px;
    margin: 5px auto;
    /*for now, center bars within nav div; if want to change to right align with social links in the future, change/add:
    margin: 5px 0;
    margin-right: 10vw;*/
}

/* layout of the page in vertical columns between header and footer */
.main-body {
    display: flex;
    flex-direction: column;
    color: var(--snow);
}

/* style each div within the main body (i.e. excluding the header and footer) */
.flag {
    display: flex;
    align-items: center;
    height: 100px;
    width: auto;
    margin: 0 -8px;
    font-size: 0.75rem;
}


/* link styling for each flag within the main body */
a {
    font-family:  var(--littletwig);
    font-size: 1.5rem;
    margin-left: 5px;
}

a:link {
    text-decoration: none;
    color: var(--snow);
}

a:visited {
    text-decoration: underline;
    color: var(--snow);
}

a:hover {
    background-color: var(--celdaon);
    text-decoration: none;
    color: var(--snow);
}

a:active {
    text-decoration: none;
    background-color: var(--greengray);
    color: var(--black);
}

/* styling for the about page information section */
.love-local-parks {
    text-transform: lowercase;
    font-family: var(--sapodilla);
    font-size: 2rem;
}

.about > p {
    font-family: Arial, Helvetica, sans-serif;
}


.about {
    border: 5px solid var(--deepred);
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

/* styling for admin login page login form */
.login-div {
    border: 5px solid var(--deepred);
    padding: 15px;
    margin: 20px auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: var(--snow);
    font-family: var(--littletwig);
    font-size: 1.5rem;
}

input {
    height: 40px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

.user, .password, .center-submit {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.center-submit {
    width: 100px;
    border-radius: 5px;
    margin-top: 40px;
}

/* styling for the footer container */
footer {
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: var(--deepred);
    height: 50px;
    width: auto;
    margin: 0 -8px;
    font-size: 0.75rem;
    /* margin-top: 40px; */
    /* padding-top: 60px; */
}

/* styling for links within the footer */
.contact, .admin {
    color: var(--snow);
    font-family: var(--littletwig);
    margin: 0 15px;
}

.copyright {
    color: var(--snow);
    font-family: var(--sapodilla);
    margin: 0 15px;
    margin-bottom: 5px;
}




/* MEDIA QUERIES - unique styling for mobile, tablet, desktop */
/* MOBILE */
@media screen and (max-width: 767px) {
    /* styling for alternating color of div flags on mobile home page */
    .flag:nth-child(odd) {
        background-color: var(--deepred);
    }
    
    .park-photo {
        display: none;
    }
    
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .nav-bar {
        background-color: var(--deepred);
        /* border: 1px solid var(--snow); */
        margin-left: -8px;
        margin-right: -8px;
        width:auto;
    }
   
    .nav-bar > a {
        display: inline-block;
        margin: 10px auto;
        font-size: 1.25rem;
    }

    #mobile-nav {
        display: none;
    }

    .top-banner {
        margin-bottom: 10px;
    }

    .main-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .flag {
        display: flex;
        justify-content: center;
        width: 45vw;
        background-color: var(--deepred);
        border-radius: 25px;
        border: 1px solid var(--snow);
        margin: 10px 5px;

    }

    .park-photo {
        display: none;
    }

    
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .social-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* social media link styling for all states */
    .social-links>a:link {
        color: var(--snow);
        text-decoration: none;
        font-weight: 700;
    }
    
    .social-links>a:visited {
        color: var(--greengray);
        text-decoration: none;
        font-weight: 700;
    }
    
    .social-links>a:hover {
        background-color: var(--greengray);
        color: var(--celadon);
        text-decoration: none;
        font-weight: 700;
    }
    
    .social-links>a:active {
        background-color: var(--deepred);
        color: var(--greengray);
        text-decoration: none;
        font-weight: 700;
    }
}