<%- include('../partials/head') -%>

    <div class="about">
        <section class="about-info">
            <!-- About Love Local Parks vertical banner on the left side of the page -->
            <h1 class="love-local-parks">Love Local Parks is...</h1>
            <p>dedicated to cleaning up our community parks and playgrounds for the enjoyment of everyone. 
            </p>
            <p>I started Love Local Parks because bringing my young child to play and seeing my local playground strewn with trash made me really sad. I realized I could do something about this, and it wouldn't even be that hard.</p>
            <p>I started picking up the trash and throwing it away. It was that simple. And, it made me feel better.</p>
            <p>Picking up the trash at my local park made the park better and made me feel happy to spend time there.</p>
            <p>I want all of us to enjoy these spaces and be happy to spend time outdoors. We can! It's so easy to grab a trash bag, a pair of gloves, and get outside to help out at our local park.</p> <h2 class="love-local-parks">We love local parks.</h2>
        </section>
        <section>
            <div class="contact-info">
                <a class="link-button" href="mailto:lovelocalparks@gmail.com" rel="noopener noreferrer"><h2>Contact Us</h2></a>
            </div>
        </section>
    </div>

<%- include('../partials/footer') -%>














   

 