<%- include('../partials/head') -%>

<div class="main-body">
    <div class="flag flag1">
        <section>
            <a class="main-link" href="/admin/parks" rel="noopener noreferrer">
            <!-- links to the main sections of the site here -->
            Review Parks
            </a>
            <!-- <img class="park-photo" src="./Media/Images/KileyPl.jpg" alt="aerial view of baseball diamond and basketball courts at Kiley Playground in Lynn, Massachusetts"> -->
        </section>
    </div>

    <div class="flag flag2">
        <section>
            <a  class="main-link" href="/admin/volunteers" rel="noopener noreferrer">
            <!-- links to the main sections of the site here -->
            Review Volunteers
            </a>
        </section>
    </div>
    
<%- include('../partials/footer') -%>














   

 