<%- include('../partials/head') -%>

<div class="main-body">
            <a class="index-link" href="/admin/parks" rel="noopener noreferrer">
                <span class="flag-text">Review Parks</span>
            </a>
            <a  class="index-link" href="/admin/volunteers" rel="noopener noreferrer">
                <span class="flag-text">Review Volunteers</span>
            </a>
    
<%- include('../partials/footer') -%>














   

 