<%- include('../partials/head') -%>

    <div class="blurb-div">
        <section>
            <h1 class="blurb">Let's keep our local parks clean.</h1>
        </section>
    </div>

    <div class="main-body">
        <div class="flag">
            <a class="index-link" href="/volunteer" rel="noopener noreferrer">
                    <span class="flag-text">Volunteer</span>
            </a>
        </div>
        <div class="flag">
            <a class="index-link" href="/park" rel="noopener noreferrer">
                    <span class="flag-text">Get Help for Your Park</span>
            </a>
        </div>
        <div class="flag">
            <a class="index-link" href="/search" rel="noopener noreferrer">
                    <span class="flag-text">Help Parks Near You</span>
            </a>
        </div>
        <div class="flag">
            <a class="index-link" href="/success" rel="noopener noreferrer">
                    <span class="flag-text">Success Stories</span>
            </a>
        </div>
    </div>

<%- include('../partials/footer') -%>
