<%- include('../partials/head') -%>

    <div class="blurb-div">
        <section>
            <h2 class="blurb">Let's keep our local parks clean.</h2>
        </section>
    </div>

    <div class="main-body">
        <a class="index-link" href="/volunteer" rel="noopener noreferrer">
            <!-- <div> -->
                <span class="flag-text">Volunteer</span>
            <!-- </div> -->
        </a>
        <a class="index-link" href="/park" rel="noopener noreferrer">
            <!-- <div> -->
                <span class="flag-text">Get Help for Your Park</span>
            <!-- </div> -->
        </a>
        <a class="index-link" href="/search" rel="noopener noreferrer">
            <!-- <div> -->
                <span class="flag-text">Help Parks Near You</span>
            <!-- </div> -->
        </a>
        <a class="index-link" href="/success" rel="noopener noreferrer">
            <!-- <div> -->
                <span class="flag-text">Success Stories</span>
            <!-- </div> -->
        </a>
    </div>

<%- include('../partials/footer') -%>
