<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

    <div class="blurb-div">
        <section>
            <h2 class="blurb">Let's keep our local parks clean.</h2>
        </section>
    </div>

    <div class="main-body">
        <div class="flag flag1">
            <section>
                <a class="main-link" href="/volunteer" rel="noopener noreferrer">
                <!-- links to the main sections of the site here -->
                Volunteer
                </a>
                <!-- <img class="park-photo" src="./Media/Images/KileyPl.jpg" alt="aerial view of baseball diamond and basketball courts at Kiley Playground in Lynn, Massachusetts"> -->
            </section>
        </div>

        <div class="flag flag2">
            <section>
                <a  class="main-link" href="/park" rel="noopener noreferrer">
                <!-- links to the main sections of the site here -->
                Does your park need help?
                </a>
            </section>
        </div>
        <div class="flag flag3">
            <section>
                <a  class="main-link" href="/search" rel="noopener noreferrer">
                <!-- links to the main sections of the site here -->
                Curious about parks near you?</h2>
                </a>
                <!-- <img class="park-photo" src="./Media/Images/FreyPl.jpg" alt="aerial view of Frey Playground in Lynn, Massachusetts"> -->
            </section>
        </div>
        <div class="flag flag4">
            <section>
                <a  class="main-link" href="/success" rel="noopener noreferrer">
                <!-- links to the main sections of the site here -->
                Success Stories
                </a>
            </section>
        </div>

    </div>

<%- include('../partials/footer') -%>
