<%- include('../partials/head') -%>

    <div class="login-div">
        <form action="#" class="login-form">
            <div class="user">   
                <label for="user">Username:</label>
                <input type="text" name="user" id="user" placeholder="Username">
            </div>

            <div class="password">   
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" placeholder="Password">
            </div>
        <input type="button" name="submit" id="submit" value="Submit" class="center-submit">
        </form>
    </div>
    
<%- include('../partials/footer') -%>














   

 