<%- include('../partials/head') -%>

    <div class="table-div">
        <h1 class="blurb">Uh oh...</h1>


        <div class="about">
            <section class="about-info">
                <!-- About Love Local Parks vertical banner on the left side of the page -->
                <p>No parks have been reported in this area yet. 
                </p>
                <p>If your park needs some love, report it.</p>
            </section>
            <div class="contact-info">
                <a class="mailto link-button" href="/park" rel="noopener noreferrer"><h2>Get Help for Your Park</h2></a>
            </div>

            <div class="contact-info">
                <a class="mailto link-button" href="/search" rel="noopener noreferrer"><h2>Search Again</h2></a>
            </div>
            <h2 class="love-local-parks">We love local parks.</h2>
        </div>

    </div>
    
<%- include('../partials/footer') -%>