<%- include('../partials/head') -%>

    <div class="input-form-div">
        <h1 class="form-headline blurb">Get Help for Your Local Park</h1>
        <form class="input-form" action="/park" method="POST" autocomplete="off">
            <fieldset class="form-items">
                <div class="label-input-pair">
                    <label for="parkName"> Park name:</label>
                    <input id="parkName" name="parkName" type="text" class="vp-form" minlength="2" required />
                </div>
                
                <div class="label-input-pair">
                    <label for="parkAddress"> Park address:</label>
                    <div class="park-address">
                        <input id="parkStreet" name="parkStreet" placeholder="Street" type="text" class="vp-form" minlength="2" required />
                        <input id="parkCity" name="parkCity" placeholder="City" type="text" class="vp-form" minlength="2" required />
                        <input id="parkState" name="parkState" placeholder="State" type="text" class="vp-form" minlength="2" maxlength="2" required />
                        <input id="parkZip" name="parkZip" placeholder="Zip" type="text" class="vp-form" minlength="5" maxlength="5" required />
                    </div>
                </div>
            <div class="label-input-pair">
                <label for="helpText"> What's wrong? </label>
                <textarea id="helpText" name="helpText" rows="3" minlength="5" required></textarea>
            </div>
            <div class="label-input-pair">
                <label for="userName"> Your name:</label>
                <input id="userName" name="userName" type="text"  class="vp-form" />
            </div>
            <div class="label-input-pair">
                <label for="userEmail"> Your email:</label>
                <input id="userEmail" name="userEmail" type="email" class="vp-form" />
            </div>
            </fieldset>
            <input type="submit" class="center-submit" value="Submit" />
        </form>
        </div>

<%- include('../partials/footer') -%>