<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

    <table class="search-table">
        <thead class="table-headers">
            <tr>
                <th>Park name</th>
                <th>Park address</th>
                <th>Comments</th>
                <th>Reporter name</th>
                <th>Reporter email</th>
           </tr>
        </thead>
        <!-- as people mouse over a specific park - is it possible to highlight that pin on the map? -->
        <tbody>
            <tr>
                <td>park</td>
                <td>address</td>
                <td>comments</td>
                <td>name</td>
                <td>email</td>
            </tr>
            <tr>
                <td>park</td>
                <td>address</td>
                <td>comments</td>
                <td>name</td>
                <td>email</td>
            </tr>
            <tr>
                <td>park</td>
                <td>address</td>
                <td>comments</td>
                <td>name</td>
                <td>email</td>
            </tr>
        <!-- data will be supplied based on map search area -->
        </tbody>
    </table>

<%- include('../partials/footer') -%>