<%- include('../partials/head') -%>

    <div class="login-div">
        <form action="/register" method="POST" class="login-form">
            <div class="user">   
                <label for="user">Username:</label>
                <input type="text" name="user" id="user" placeholder="Username">
            </div>

            <div class="password">   
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" placeholder="Password">
            </div>
            <input type="button" name="submit" id="submit" value="Register" class="center-submit">
            <!-- <a href="/auth/google" class="google-button"><h2>Register with Google</h2></a> -->
        </form>
    </div>
    
<%- include('../partials/footer') -%>














   

 