<%- include('../partials/head') -%>

    <div class="search-div">

        <h1 class="blurb">search for a local park</h1>

        <form id="searchForm" class="search-term-form" action="/search" method="POST">
            <label for="searchTerm"> enter city, state, or zip code:</label>
            <input id="searchTerm" name="searchTerm" type="text" class="vp-form" minlength="2" required />
            <input id="searchTermSubmit" type="submit" class="center-submit" value="Submit" />
        </form>

    </div>
    
<%- include('../partials/footer') -%>