<%- include('../partials/head') -%>

    <div class="search-div">
        <h1 class="blurb">search for a local park</h1>

        <form id="searchForm" class="search-term-form" action="/search" method="POST">
            <label for="searchTerm"> enter city, state, or zip code:
                <input id="searchTerm" name="searchTerm" type="text" class="vp-form" minlength="2" required />
            </label>
            <input id="searchTermSubmit" type="submit" class="center-submit" value="Submit" />
        </form>

        <!-- <div class="map-box">
            Insert Map Here
        </div> -->
        <!-- <div class="map-table">
            List of All Parks within the search radius should Display Here
            <table class="search-table">
                <thead class="table-headers">
                    <tr>
                        <th>Park</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Problem:</th>
                   </tr>
                </thead> -->
                <!-- as people mouse over a specific park - is it possible to highlight that pin on the map? -->
                <!-- <tbody> -->
                    <%# for (park of searchResults) { %>
                        <!-- <tr>
                            <td><%# park.parkName %></td>
                            <td><%# park.parkStreet %></td>
                            <td><%# park.parkCity %></td>
                            <td><%# park.parkState %></td>
                            <td><%# park.parkZip %></td>
                            <td><%# park.helpText %></td>
                        </tr> -->
                    <%# } %>
                <!-- data will be supplied based on map search area -->
                <!-- </tbody>
            </table>
        </div> -->
    </div>
    
<%- include('../partials/footer') -%>