<%- include('../partials/head') -%>

    <div class="about">
        <section class="about-info">
            <h1 class="love-local-parks">check us out</h1>
            <p>Visit our social media for photos and stories of parks that our volunteers have helped clean up. 
            </p>
            <div class="in-content-social-links">
                <a href="https://www.facebook.com/lovelocalparks" referrerpolicy="noopener noreferrer" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.instagram.com/lovelocalparks/" referrerpolicy="noopener noreferrer" target="_blank" class="fab fa-instagram"></a>
                <a href="https://twitter.com/lovelocalparks" referrerpolicy="noopener noreferrer" target="_blank" class="fab fa-twitter"></a>
            </div>
            <h2 class="love-local-parks">We love local parks.</h2>
        </section>
    </div>
   
<%- include('../partials/footer') -%>
