<%- include('../partials/head') -%>

    <div class="about">
        <section class="about-info">
            <!-- About Love Local Parks vertical banner on the left side of the page -->
            <h1 class="love-local-parks">Thank you.</h1>
            <p>Your form information has been submitted. 
            </p>
            <p>Please feel free to contact us if you have any questions or concerns. </p>
            <h2 class="love-local-parks">We love local parks.</h2>
        </section>
        <section>
            <div class="contact-info">
                <a class="link-button" href="mailto:lovelocalparks@gmail.com" rel="noopener noreferrer" target="_blank"><h2>Contact Us</h2></a>
            </div>
        </section>
    </div>

<%- include('../partials/footer') -%>