<%- include('../partials/head') -%>

    <div class="input-form-div">
        <h1 class="form-headline blurb">Volunteer to Clean Up A Park</h1>
        <form class="input-form" action="/volunteer" method="POST">
            <fieldset class="form-items">
                <div class="label-input-pair">
                    <label for="parkName"> Park name:</label>
                    <input id="parkName" name="parkName" type="text" minlength="2" required />
                </div>
                <div class="label-input-pair">
                    <label for="parkAddress"> Park address:</label>
                    <div class="park-address">
                        <input id="parkStreet" name="parkStreet" placeholder="Street"  type="text" class="vp-form" minlength="2" required />
                        <input id="parkCity" name="parkCity" placeholder="City" type="text" class="vp-form" minlength="2" required />
                        <input id="parkState" name="parkState" placeholder="State" type="text" class="vp-form" minlength="2" maxlength="2" required />
                        <input id="parkZip" name="parkZip" placeholder="Zip" type="text" class="vp-form" minlength="5" maxlength="5" required />
                    </div>
                </div>
                <div class="label-input-pair">
                    <label for="volunteerDate"> When?</label>
                    <input id="volunteerDate" name="volunteerDate" type="date" />
                </div>
                <div class="label-input-pair">
                    <label for="volunteerTime"> What time?</label>
                    <input id="volunteerTime" name="volunteerTime" type="time" />
                </div>
                <div class="label-input-pair">
                    <label for="userName"> Your name:</label>
                    <input id="userName" name="userName" type="text" minlength="1" required />
                </div>
                <div class="label-input-pair">
                    <label for="userEmail"> Your email:</label>
                    <input id="userEmail" name="userEmail" type="email" minlength="5" required />
                </div>
                <div class="label-checkbox-pair">
                    <label for="moreVolunteers" name="moreVolunteers" class="postToSocialLabel"> Should we share this on social?</label>
                    <input id="moreVolunteers" name="moreVolunteers" type="checkbox" value="true" />
                </div>
            </fieldset>
            <!-- <p class="shareWarning">We will never publish your name or email on our social media without explicit<br> consent. Clicking the checkbox above does NOT assume written consent.</p> -->
            <input type="submit" class="center-submit" value="Submit" />

        </form>

        <section>
            <div class="contact-info">
                <a class="mailto link-button" href="/search" rel="noopener noreferrer"><h2>Search Parks</h2></a>
            </div>
        </section>
    </div>

<%- include('../partials/footer') -%>
